body.Invert {
  background-color: #0C0B0A;
  color: #D6D3D0
}
body.Invert a {
  color: #D6D3D0
}
body.Invert .Intro {
  background-color: transparent;
}
body.Invert .Logo {
  background-image: url("_img/canlislogo_light.svg");
}
body.Invert .GlobalFooter, body.Invert .GlobalFooter a {
  color: color-text;
  background-color: color-background;
}
body.Invert .BigPlaceholderSection {
  color: color-text;
}
body.Invert .PortraitCard {
  background-color: #0C0B0A
}