// ALL PAGES

.Intro {
  min-height: 90vh;
  padding-left: 7vw;
  padding-right: 7vw;
  background: color-background;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: -12vw;
}
.Intro h1 {
  align-self: center;
}
@media laptop {
  .Intro {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    margin-bottom: -4vw;
    //text-align: center;
  }
  .Intro.Tall {
    margin-bottom: 6vw;
  }
  .Intro h1 {
    margin-left: 2vw;
  }
}

// HOME

.ReservePrompt {
  position: absolute;
  left: 4vw;
  bottom: 4vw;
  transform: rotate(-90deg);
  transform-origin: top left;
  display: none;
}
@media laptop {
  .ReservePrompt {
    display: block;
  }
}
.HomePhoto1 {
  position: relative;
  width: 100vw;
  margin-left: -6.5vw;
  max-width: 1000vw;
}
@media laptop {
  .HomePhoto1 {
    position: relative;
    width: 65vw;
    margin-left: 0;
  }
}
.HomePhoto2 {
  position: relative;
  width: 100vw;
  max-width: 1000vw;
  margin-left: -6.5vw;
}
@media laptop {
  .HomePhoto2 {
    position: relative;
    width: 70vw;
  }
}
.HomePhoto4, .HomePhoto5, .HomePhoto6 {
  max-width: 10000vw;
  width: 100vw;
  margin-left: -6.5vw;
}
@media laptop {
  .HomePhoto4 {
    position: relative;
    width: 60vw;
    margin-left: 0;
  }
}
@media laptop {
  .HomePhoto5 {
    position: relative;
    margin-top: -5%;
    z-index: 70;
    margin-left: 0;
    width: 100%;
  }
}
@media laptop {
  .HomePhoto6 {
    position: relative;
    margin-top: -5%;
    z-index: 60;
    width: 60vw;
    margin-left: 0;
  }
}


// PEOPLE


.Portrait {
  max-width: 10000000px;
  margin-left: -6.5vw;
  width: 100vw;
}
@media laptop {
  .Portrait {
    margin-left: 0px;
  }
}
@media laptop {
  .Portrait.Mark {
    width: 120%;
  }
  .Portrait.Brian {
    width: 120%;
    margin-left: -20%;
  }
}
.PortraitCard {
}
@media laptop {
  .PortraitCard {
    background: color-background;
    padding: 5vw 5vw 2vw 5vw;
    margin-top: 15vw;
    margin-left: -10%;
    position: relative;
    z-index: 99999;
  }
  .PortraitCard:nth-child(2) {
    margin-left: 10%;
  }
}
.KitchenWideShot {
  background-image: url(https://ashleyzharper.files.wordpress.com/2014/10/screen-shot-2014-10-04-at-9-54-42-am.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 110vh;
  background-position: center center;
  margin-top: -2vw;
}
.LinkToStory {
  border-color: #ccc;
  border-weight: 1px;
  border-top: 1px;
  border-bottom: 1px;
  padding: 10vw 0;
  text-align: center;
}

// PRIVATE EVENTS

.PrivateEventsPhoto3 {
  position: relative;
  max-width: 100000vw;
  margin-left: -6.5vw;
  width: 100vw;
}
@media laptop {
  .PrivateEventsPhoto3 {
    width: 130vw;
    margin-left: -85vw;
    margin-top: -3vw;
  }
}
.PrivateEventsGallery {
  width: 100vw;
  height: 133vw;
  background: black;
  margin-left: -6.5vw;
  cursor: pointer;
}
@media laptop {
  .PrivateEventsGallery {
    width: 60vw;
    height: 86vw;
  }
  .PrivateEventsGallery.LeftFacing {
    margin-left: -6.5vw;
  }
  .PrivateEventsGallery.RightFacing {
    margin-left: 3.5vw;
  }
  .PrivateEventsGallery:hover .PrivateEventsGalleryItem {
  transform: translateX(-60px)
}
}
.PrivateEventsGalleryItem {
  width: 100vw;
  height: 133vw;
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: gray;
  transition: all 200ms ease-out;
}
@media laptop {
  .PrivateEventsGalleryItem {
    width: 65vw;
    height: 86vw;
  }
}
// .slick-slide {
//   opacity: .5;
// }
// .slick-current {
//   opacity: 1;
// }
.PrivateEventsGalleryItem, .PrivateEventsGalleryItem:focus, .PrivateEventsGalleryItem:active {
  outline: none;
}
.PrivateEventsPhoto4 {
  position: relative;
  width: 100vw;
  max-width: 100000vw;
  margin-left: -6.5vw;
}
@media laptop {
  .PrivateEventsPhoto4 {
    width: 90vw;
    margin-right: -53vw;
    margin-left: 0;
  }
}
.PrivateEventsPhoto5 {
  position: relative;
  width: 100vw;
  max-width: 100000vw;
  margin-left: -6.5vw;
}
@media laptop {
  .PrivateEventsPhoto5 {
    width: 90vw;
    margin-left: -45vw;
  }
}
.PrivateEventsPhoto6 {
  position: relative;
  width: 100vw;
  max-width: 100000vw;
  margin-left: -6.5vw;
}
@media laptop {
  .PrivateEventsPhoto6 {
    width: 110vw;
    margin-right: -53vw;
    margin-left: 0;
  }
}
.PrivateEventsOutro {
  margin: 15vw 5vw;
}

// STORY

.StoryHeadline {
  margin-bottom: 5vw;
  margin-top: 8vw;
}
.YoungPeter1 {
  width: 190%;
  max-width: 190%;
  transform: rotate(-5deg);
  margin-left: -50%;
}
.YoungPeter2 {
  width: 160%;
  max-width: 160%;
  transform: rotate(5deg);
  margin-left: -20%;
  margin-top: 60%;
  z-index: 9999;
  position: relative;
  box-shadow: 6px 6px 76px 0px rgba(0,0,0,0.2);
}
.YoungPeter3 {
  width: 110%;
  max-width: 110%;
  transform: rotate(12deg);
  margin-left: -10%;
}
.SeattleReveal {
  margin-left: -10%;
  width: 128%;
  max-width: 128%;
}
.SeattleFrontDoor {
  width: 120%;
  max-width: 120%;
  transform: rotate(7deg);
  margin-left: -30%;
}
.SeattlePeterEating {
  width: 130%;
  max-width: 130%;
  transform: rotate(-9deg);
  margin-left: -40%;
}
.SeattleMiddle {
  width: 75%;
  max-width: 75%;
  transform: rotate(-5deg);
  margin-left: -50%;
  margin-top: -170%;
  z-index: 9999;
  position: relative;
}
.SeattleEnd {
  width: 110%;
  max-width: 110%;
  transform: rotate(7deg);
  margin-left: 10%;
  margin-top: -100%;
}
.SeattleEndText {
  margin-top: 5vw;
}


// MENU

.MenuHeadline {
  margin-left: -5%
}
.DinnerPlates {
  background-image: url(_img/plate.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: 40vw;
  width: 40vw;
  // box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.09);
  // border-radius: 1000000px;
  display: none;
}
@media laptop {
  .DinnerPlates {
    display: block;
  }
}
.DinnerPlates.Flipped {
  transform: rotate(180deg);
}
.DinnerPlates img {
  transform: scale(1.7);
  background: transparent;
}
.DinnerPlate1 {
  position: absolute;
  width: 29vw;
  height: 29vw;
  top: 12vw;
  left: -4vw;
}
.DinnerPlate2 {
  position: absolute;
  width: 36vw;
  height: 36vw;
  top: 35vw;
  right: -5vw;
}
.DinnerPlate3 {
  width: 36vw;
  height: 37vw;
  margin-top: -30%;
  margin-left: -95%;
}
.DinnerPlate4 {
  width: 29vw;
  height: 29vw;
  bottom: -20vw;
  margin-left: 5vw;
}
.DinnerPlate5 {
  width: 37vw;
  height: 37vw;
  top: 0vw;
  margin-left: -15vw;
}
.DinnerPlate6 {
  width: 24vw;
  height: 24vw;
  bottom: -5vw;
  margin-left: 0vw;
  display: none;
}
.DinnerPlate7 {
  width: 40vw;
  height: 40vw;
  bottom: 0vw;
  margin-left: 0vw;
}
.DinnerPlate8 {
  width: 40vw;
  height: 40vw;
  bottom: -5vw;
  margin-left: -18vw;
}

// WINE

.WineHeadline {
}
@media laptop {
  .WineHeadline {
    margin-top: 18vh;
    margin-bottom: 5vw;
    margin-left:25%;
  }
}
.WinePhoto1 {
    position: relative;
    width: 100vw;
    max-width: 1000vw;
    margin-left: -6.5vw;
  }
@media laptop {
  .WinePhoto1 {
    width: 65vw;
    margin-left: -10vw;
  }
}
.WinePhoto2 {
  position: relative;
  width: 100vw;
  max-width: 1000vw;
  margin-left: -6.5vw
}
@media laptop {
  .WinePhoto2 {
    width: 65vw;
    margin-left: 0;
  }
}
.WinePhoto3 {
  position: relative;
  width: 100vw;
  max-width: 1000vw;
  margin-left: -6.5vw
}
@media laptop {
  .WinePhoto3 {
    width: 60vw;
    margin-left: -7vw;
  }
}
@media laptop {
  .StaffSection {
    margin-top: 12vw;
    margin-bottom: 12vw;
  }
}

// CAREERS

.CareersPhoto1 {
  position: relative;

  left: -40%;
  max-width: 10000px;
  width: 170%;
  height: auto;
}
@media laptop {
  .CareersPhoto1 {
    top: -50px;
    transform: rotate(-10deg) ;
  }
}
.CareersPhoto2 {
  position: relative;
  transform: rotate(10deg) ;
  left: -5%;
  top: -10vw;
  max-width: 10000px;
  width: 120%;
  height: auto;
  z-index: 10;
}
@media laptop {
  .CareersPhoto2 {
    top: 50px;
  }
}
.CareersPhoto3 {
  position: relative;
  transform: rotate(-10deg) ;
  right: 10%;
  top: -60px;
  max-width: 10000px;
  width: 160%;
  height: auto;
  z-index: 0;
}
@media laptop {
  .CareersPhoto3 {
    right: 0%;
    top: -40px;
  }
}

/// MISC

.BigPlaceholderSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #ccc;
  text-align: center;
  align-items: center;
  margin-bottom: 1px;
}
.BigPlaceholderSection p {
  text-align: center;
  width: 100%;
}
.BigPlaceholderSection.Small {
  height: 50vh;
}
